<h1>Editing Page</h1>

<%= render 'form', page: @page %>

<%= link_to 'Show', @page %> |
<%= link_to 'Destroy', page_path(@page), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', pages_path %>
