<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>
<p><%= t('.description') %></p>

<div class="pages">
  <% @pages.each do |page| %>
    <%= link_to page, class: 'page' do %>
      <div class="page-title">
        <%= page.title %>
      </div>
      <div class="page-screenshot">
        <%= screenshot_for page %>
      </div>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to t('.new_page'), new_page_path %>
