<p id="notice"><%= notice %></p>

<h1>
  Page: <%= @page.title %>
</h1>

<div class="page">
  <div class="page-screenshot">
    <%= image_tag url_for(@page.screenshot) if @page.screenshot.attachment %>
  </div>
  <div class="page-actions">
    <%= link_to 'Edit', edit_page_path(@page) %> |
    <%= link_to 'Back', pages_path %>
  </div>
</div>
