// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: $horizontal-rhythm;
  grid-row-gap: $vertical-rhythm;
}

.page {
  background-color: #eee;
  display: block;
  padding: $horizontal-rhythm;

  &-title {
    margin-bottom: $vertical-rhythm;
  }

  &-screenshot {
    height: 220px;
    overflow: hidden;
  }

  &-actions {
    margin-top: $vertical-rhythm;
  }
}
